/* ================= GLOBAL ================= */
body {
  font-family: 'Inter', sans-serif;
  color: #0B0F3B;
}
* Navbar */
.navbar{
    position: relative;
    z-index: 10;

    padding-top: 24px;
    padding-bottom: 24px;

    background-color: transparent;
}
/* Container */
.navbar .container{
    max-width: 1440px;

    padding-left: 120px;
    padding-right: 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Logo */
.navbar-brand{
    margin: 0;
    padding: 0;
}

.navbar-brand img{
    width: 157px;
    height: auto;
    display: block;
}